body {
  background-color: #008baf;
  color: black;
}
.header {
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}

.return-icon {
  color: white;
  width: 2rem;
  height: 2rem;
}

.container {
  padding: 1rem;
  padding-top: 0;
}

.card {
  background-color: #f0f8ff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dev-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 4px solid #008baf;
  object-fit: cover;
}

.card p {
  line-height: 1.6;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1rem;
}

.card h3 {
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0;
}

.contact {
  margin-top: 2rem;
}

.contact-type {
  font-size: 1.4rem;
}

.contact h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-info {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
}

.contact-info a {
  background-color: #008baf;
  border-radius: 1rem;
  padding: 0.2rem 1.2rem;
}

.contact-info a:hover {
  background-color: #ff9800;
  color: white;
  transition: background-color 0.3s;
}

.contact a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}

.contact-img {
  width: 3rem;
  height: 3rem;
}

.projects {
  margin-top: 4rem;
}

.projects h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.project-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.project-card {
  background-color: #e0f3f8;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.project-card .content {
  padding: 1rem;
  text-align: center;
}

.project-card h3 {
  margin: 0.5rem 0;
  font-size: 2.2rem;
}

ul {
  padding: 0;
}

li {
  font-size: 1.2rem;
  text-align: center;
  list-style: none;
}

.project-card a {
  display: inline-block;
  font-size: 1.4rem;
  margin-top: 1rem;
  background-color: #008baf;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.project-card a:hover {
  background-color: #ff9800;
  color: white;
}

.card h2 {
  font-size: 2rem;
  margin: 0;
}
