* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

html {
  font-size: 62.5%;
  font-weight: bold;
}

body {
  margin: 0;
  background-color: #f0f8ff;
  color: #333;
  width: 50rem;
  height: 60rem;
  overflow-y: hidden;

  /* height: 100vh; */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1rem;
}

.upper-part {
  background-color: #f0f8ff;
  width: 50rem;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

header {
  background-color: #008baf;
  color: white;
  padding: 1.5rem 1rem;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: relative;
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

.language-switch {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.2rem;
}

.search-container {
  margin: 1rem auto;
  text-align: center;
}

.search-container input {
  padding: 0.6rem 1rem;
  border-radius: 3rem;
  border: none;
  width: 80%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  row-gap: 1rem;
  padding: 1rem;
}

.categories button {
  background-color: #e0f3f8;
  border: none;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.categories button:hover {
  cursor: pointer;
}

.categories .active {
  background-color: #ff9800;
  color: white;
}

.section-audio {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-audio audio {
  background-color: #008baf;
  border-radius: 1rem;
  padding: 0.6rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* --- Cards Section --- */
.cards {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Individual Card */
.card {
  /* background-color: #333; */
  background-color: #008baf;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 1.6rem;
  margin: 0;
  flex: 1;
  text-align: right;
  line-height: 1.5;
  padding: 1rem;
}

.card-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card .fav {
  background: none;

  border: none;
  font-size: 2.2rem;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
}

.card .fav:hover {
  color: #ff9800;
}

.card .play {
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.6rem;
}

/* --- Responsive (Optional) --- */
/* @media (max-width: 600px) {
  h1 {
    font-size: 2.8rem;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card .play {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.4rem;
  }
} */
